.title {
  text-align: center;
}

.card-group {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

li {
  list-style: none !important;
}

/* pour l'animation */
#titre {
  margin-left: 730px;
}
#titre2 {
  margin-left: 810px;
}
#animation {
  margin-left: 550px;
}