.title{
    text-align: center;
}

.card-group {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

#test {
    position: center;
    margin-left: 5cm;

}