.title{
    text-align: center;
}

.card-group {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

/* pour l'animation */
#titre {
    margin-left: 425px;
}
#titre2 {
    margin-left: 520px;
}
#animation {
    margin-left: 225px;
}
